body {
    display: block;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.task2{
    display: flex;
}

.traffic-light-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 18px;
    margin: 10px;
}
.traffic-light {
    width: 100px;
    height: 300px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}
/* Світлофор з position */
.light-position .light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    left: 9%;
}
.light-position .red {
    top: 10px;
    background-color: red;
}
.light-position .yellow {
    top: 110px;
    background-color: yellow;
}
.light-position .green {
    top: 210px;
    background-color: green;
}

/* Світлофор з transform */
.light-transform .light {
    width: 80px;
    height: 80px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.light-transform .red {
    top: 10px;
    transform: translate(-50%, 0);
    background-color: red;
}
.light-transform .yellow {
    transform: translate(-50%, 110px) rotate(10deg);
    background-color: yellow;
}
.light-transform .green {
    transform: translate(-50%, 210px) rotate(-10deg);
    background-color: green;
}