* {
    box-sizing: border-box;
}
body {
    margin: 0;
    max-width: 1150px;
    font-family: Arial, sans-serif;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.img-top, .img-bottom {
    background-color: #1EA7D0;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: white;
    font-weight: bold;
}
.content {
    display: flex;
    width: 100%;
    height: 555px;
}
.content-left {
    flex: 1;
    padding-left: 50px;
    background-color: #9D81EA;
    color: white;
    text-align: left;
    line-height: 500px;
    font-weight: bold;
}
.content-right {
    flex: 1;
    padding-left: 50px;
    background-color: #B3E1F5;
    color: white;
    text-align: left;
    line-height: 500px;
    font-weight: bold;
}